body{
    margin: 0px;
}

.h{
width: 100%;
background-color: rgb(245, 225, 229);
height: 60px;

}
.bg{
    height: 100%;
    width: 100%;
}

.g{
    margin-top: 0px;
    background-color: Darkgrey;
}
table a{
    text-decoration: none;
}
#l{
    position: relative;
    margin-left:50px;
}


#a{
    font-weight: bold;
   margin-right: 0px;
}
.f{
    background-color: rgb(187, 187, 36);
    width: 100%; 
    margin: 0px;
    height: 30px;
    color: white;
}
#b{
    position: relative;
    margin-right: 0px;
}
h3{
    color: rgb(235, 35, 35);
}
.k{
    background: rgb(241, 233, 234);
    width: 100%;
   
}
.c{
    margin-left: 50px;
}
.z{
    margin-top: 20px;
}
